#### Data ####
data_clean/*
SDM/BITH_SDM.RDS
SDM/RCP45_*
SDM/biomass_*
SDM/results/BITH_metrics_QC.RDS
data_raw/*
# Except for the following files
# !*data_raw/RAPPORT QO_SOS-POP SCF_GRBI_pub.xlsx
# !*data_raw/RCP45_GrowthBudwormBaselineFire_ABIE.BAL_0_merged.RData
# !*data_raw/RCP45_GrowthBudwormBaselineFire_ABIE.BAL_20_merged.RData
# !*data_raw/RCP45_GrowthBudwormBaselineFire_ABIE.BAL_50_merged.RData
# !*data_raw/RCP45_GrowthBudwormBaselineFire_ABIE.BAL_80_merged.RData
# !*data_raw/RCP45_GrowthBudwormBaselineFire_TotalBiomass_0_merged.RData
# !*data_raw/RCP45_GrowthBudwormBaselineFire_TotalBiomass_20_merged.RData
# !*data_raw/RCP45_GrowthBudwormBaselineFire_TotalBiomass_50_merged.RData
# !*data_raw/RCP45_GrowthBudwormBaselineFire_TotalBiomass_80_merged.RData
# !*data_raw/MappingQc_AnnualVar_1981_2010Tmean0.tif
# !*data_raw/MappingQc_AnnualVar_1981_2010Prcp0.tif
# !*data_raw/MappingQc_AnnualVar_AnnualVar_RCP45_2011_2040Prcp0.tif
# !*data_raw/MappingQc_AnnualVar_AnnualVar_RCP45_2011_2040Tmean0.tif
# !*data_raw/MappingQc_AnnualVar_RCP45_2041_2070Prcp0.tif
# !*data_raw/MappingQc_AnnualVar_RCP45_2041_2070Tmean0.tif
# !*data_raw/MappingQc_AnnualVar_RCP45_2071_2100Prcp0.tif
# !*data_raw/MappingQc_AnnualVar_RCP45_2071_2100Tmean0.tif


#### R ####

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Extra
.DS_Store
#*.RDS
*.grd
*.gri
*.gif
*.html
#*.tif
mapSpecies/*
#graveyard/*
trash/*
docs/


### LaTeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
*.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
